* {
padding: 0;
margin: 0;
border: 0;
}

*,
*:before,
*:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

:focus,
:active {
outline: none;
}
a:focus,
a:active {
outline: none;
}



html,
body {
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
scroll-behavior: smooth;
background: $background;
}

input,
button,
textarea {
font-family: inherit;
}

input::-ms-clear {
display: none;
}
button {
cursor: pointer;
}
button::-moz-focus-inner {
padding: 0;
border: 0;
}
a,
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: none;
}
ul li {
list-style: none;
}
img {
vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
font-size: inherit;
font-weight: 400;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

.title{
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    &-card{
        font-size: 12px;
        line-height: 16px;
        color: #C9A96E;
        text-align: center;
        font-family: 'PT Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
    }
    &-history{
        font-family: 'PT Serif';
        font-size: 12px;
        line-height: 16px;
        color: #666666;
    }
}
.subtitle{
    font-family: 'PT Serif';
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
    &-card{
        font-family: 'PT Serif';
        font-weight: 700;
        font-size: 40px;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        color: #171717;
    }
}

.btn{
    padding: 15px 70px;
    color: $primary;
    border: 1px solid #E5E5E5;
    font-family: 'PT Serif';
    font-size: 16px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    transition: .3s ease all;
    &:hover{
        background: $secondary;
        color: $primary-white;
    }
}