.section {

    // .section__catalog

    &__catalog {
    }
}
.catalog {
    max-width: 770px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__wrapper{
        padding: 60px 0 0 0;
        display: flex;
        justify-content: space-between;
    }
    // .catalog__TEXT-WRAPPER
    &__text-wrapper{
        width: 100%;
        height: 100%;
        padding: 17px 50px;
        text-align: center;
    }
    // .catalog__item
    &__item {
        max-width: 370px;
        width: 100%;
        height: fit-content;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &-big{
            max-width: 770px;
            .catalog__img{
                max-height: 350px;
            }
            .catalog__text-wrapper{
                text-align: left;
                .catalog__title{
                    text-align: inherit;
                }
                .catalog__subtitle{
                    text-align: inherit;
                }
            }
        }
    }

    // .catalog__img

    &__img {
        object-fit: cover;
        max-height: 280px;
        overflow: hidden;
        img{
            width: 100%;
        }
    }

    // .catalog__title

    &__title {
        color: $secondary;
    }

    // .catalog__subtitle

    &__subtitle {
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: $primary;
        margin-bottom: 10px;
    }

    &__text{
        font-size: 14px;
        line-height: 24px;
        color: $primary-grey;
    }
}

.aside {

    // .aside__catalog

    &__catalog {
        max-width: 270px;
        width: 100%;
    }
}
.catalog {

    // .catalog__about/featured

    &__about,
    &__featured,
    &__categories {
        width: 100%;
        margin-bottom: 70px;
    }


    // .catalog__btn
    
    &__btn {
        margin-bottom: 20px;
        &-more{
            text-transform: uppercase;
            color: $secondary;
            justify-content: center;
            display: flex;
            padding: 15px 40px;
        }
    }
    
    // .catalog__item
    
    &__item {
        margin-bottom: 30px;
        &_no-shadow,
        &_icons,
        &_tags{
            box-shadow: none;
        }
        &_icons,
        &_tags{
            display: flex;
            flex-wrap: wrap;
            gap: 3px;
        }
        &_tags{
            gap: 10px;
        }
    }
    &__item:last-child {
        margin-bottom: 0px;
    }

    // .catalog__img

    &__img {
    }

    // .catalog__text-wrapper

    &__text-wrapper-aside {
        padding: 17px 20px;
        text-align: center;
    }

    // .catalog__name

    &__name {
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
    }

    // .catalog__profession

    &__profession {
        font-style: italic;
        line-height: 19px;
        color: #B1B1B1;
    }

    // .catalog__text-about

    &__text-about {
        font-family: 'PT Sans';
        line-height: 24px;
        color: $primary-grey;
    }

    &__social{
        margin-bottom: 70px;
    }

    &__lists{
        width: 100%;

    }
    &__list{
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #E5E5E5;
        color: $primary-grey;
        transition: .3s ease all;
        &:hover{
            color: $secondary;
        }
    }

    // .catalog__icon
    &__icon{
        width: 88px;
        height: 88px;
        padding: 17px 15px;
    }
    &__tag{
        padding: 6px 14px;
        font-family: 'PT Serif';
        line-height: 19px;
    }
    &__icon,
    &__tag {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        color: #999999;
        background: $secondary-grey;
        transition: .3s ease all;
        &:hover{
            background: $primary-grey;
            color: $primary-white;
            svg path{
                fill: $primary-white;
            }
        }
        // .icon__number
        
        &__number {
        }
        
        
    }
}

